.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "card-1 card-2"
    "card-3 card-3";
    width: 80vw;
    height: 80vh;
    margin: 20px 60px 20px 60px; 
    column-gap: 20px;
    row-gap: 20px;
}

.item-1 {
    grid-area: card-1;
    border-radius: 10px;
    background-image: url("./imgs/img1.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.item-2 {
    grid-area: card-2;
    border-radius: 10px;
    background-image: url("./imgs/img2.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.item-3 {
    grid-area: card-3;
    border-radius: 10px;
    background-image: url("./imgs/img3.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}