:root {
    --skin: #f6c09c;
    --neck: #ED927D;
    --background: #ed4042;
    --red: #ed2860;
    --dark-red: #680524;
    --black: #00243a;
    --white: #fff;
  }

  body {
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .head {
    width: 100px;
    height: 200px;
    background: var(--skin);
    border-radius: 50px;
    position: relative;
  }

  .eye-left {
    width: 27px;
    height: 27px;
    background: var(--white);
    position: absolute;
    top: 70px;
    border-radius: 50%;
    left: 24px;
    border-radius: 50% 0% 100% 100%;
  }

  .eye-right {
    width: 27px;
    height: 27px;
    background: var(--white);
    position: absolute;
    top: 70px;
    border-radius: 0% 50% 100% 100%;
    right: 24px;
  }

  .pupil-left {
    width: 6px;
    height: 6px;
    background: var(--black);
    border-radius: 100%;
    position: absolute;
    top: 75px;
    left: 35px;
  }

  .pupil-right {
    width: 6px;
    height: 6px;
    background: var(--black);
    border-radius: 100%;
    position: absolute;
    top: 75px;
    right: 35px;
  }

  .ear-left {
    width: 22px;
    height: 28px;
    background: var(--neck);
    position: absolute;
    border-radius: 50%;
    top: 70px;
    left: -20px;
    z-index: -1;
    border-radius: 100% 0% 0% 100%;
  }

  .ear-x-left {
    height: 25px;
    width: 25px;
    position: absolute;
    clip-path: polygon(0 0, 37% 48%, 0 100%, 0 100%, 51% 60%, 100% 100%, 100% 100%, 64% 48%, 100% 0, 100% 0, 50% 36%);
    background-color: #e9686a;
    border-radius: 100%;
    top: 70px;
    right: 90px;
    z-index: -1;
}

  .ear-right {
    width: 22px;
    height: 28px;
    background: var(--neck);
    position: absolute;
    border-radius: 50%;
    top: 70px;
    right: -20px;
    z-index: -1;
    border-radius: 0% 100% 100% 0%;
  }

  .ear-x-right {
    height: 25px;
    width: 25px;
    position: absolute;
    clip-path: polygon(0 0, 37% 48%, 0 100%, 0 100%, 51% 60%, 100% 100%, 100% 100%, 64% 48%, 100% 0, 100% 0, 50% 36%);
    background-color: #e9686a;
    border-radius: 100%;
    top: 70px;
    left: 90px;
    z-index: -1;
}

  .neck {
    width: 80px;
    height: 100px;
    background: var(--neck);
    position: absolute;
    bottom: -25px;
    left: 10px;
    z-index: -1; 
  }

  .nose {
    width: 35px;
    height: 35px;
    background: var(--skin);
    border-radius: 100%;
    position: absolute;
    left: 32px;
    top: 98px;
    z-index: 1; 
  }

  .beard {
    width: 100px;
    height: 100px;
    background: var(--black);
    border-radius: 70px 70px 100px 100px;
    position: absolute;
    bottom: -10px;
  }

  .mouth {
    width: 45px;
    height: 28px;
    background: var(--dark-red);
    border-radius: 0% 0% 70% 70%;
    position: absolute;
    bottom: 30px;
    left: 28px;
  }

  .teeth {
    width: 40px;
    height: 8px;
    background: var(--white);
    border-radius: 0px 0px 60px 0px;
    position: absolute;
    bottom: 50px;
    left: 28px;
  }

  .tongue {
    width: 25px;
    height: 13px;
    background: var(--red);
    border-radius: 0px 20px 0px 60px;
    position: absolute;
    bottom: 30px;
    left: 28px;
  }

